.footer {
    background-color: #1ea78d;
    padding: 100px 0;
    border-top: 5px solid #062033;
    @media screen and (max-width: 1024px) {
        padding: 50px 0;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 44px 30px;
        color: $color-default-lightest;
        @media #{$info-phone} {
            grid-template-columns: repeat(1, 1fr);
            grid-row: 60px;
            text-align: center;
        }
        .item-01,
        .item-02,
        .item-03,
        .item-04,
        .item-05,
        .item-06,
        .item-07 {
            @media #{$info-phone} {
                padding: 0 35px;
                &:last-child {
                    padding: 0;
                }
            }
            h2 {
                font-family: "Pacifico", cursive;
                @include font-size(28px);
            }
            h3 {
                @include font-size(14px);
                font-weight: bold;
                line-height: 24px;
                opacity: 0.8;
                margin-top: 10px;
            }
            p {
                @include font-size(13px);
                line-height: 24px;
                span {
                    color: #062033;
                }
            }
            .input__group {
                position: relative;
                input {
                    width: 100%;
                    height: 46px;
                    background-color: transparent;
                    border: 2px solid $color-default-lightest;
                    color: $color-default-lightest;
                    border-radius: 3px;
                    margin-bottom: 24px;
                    @include font-size(13px);
                    @media #{$info-phone} {
                        height: 30px;
                    }
                }
                button {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    @include transform(translate(-50%, -50%));
                    border: none;
                    background: transparent;
                    outline: none;
                    cursor: pointer;
                }
            }
            .explore {
                display: flex;
                flex-wrap: wrap;
                &__text {
                    width: calc(100% / 2);
                    ul {
                        margin-top: -10px;
                        @media #{$info-phone} {
                            text-align: left;
                        }
                        li {
                            @include font-size(13px);
                            line-height: 32px;
                        }
                    }
                }
            }
        }
        .item-01 {
            order: 1;
        }
        .item-02 {
            order: 2;
            @media #{$info-phone} {
                order: 3;
            }
        }
        .item-03 {
            order: 3;
            grid-column: 3 / span 2;
            @media #{$info-phone} {
                order: 6;
                grid-column: 1;
            }
        }
        .item-04 {
            order: 4;
            @media #{$info-phone} {
                order: 2;
            }
        }
        .item-05 {
            order: 5;
            @media #{$info-phone} {
                order: 4;
            }
        }
        .item-06 {
            order: 6;
        }
        .item-07 {
            order: 7;
            p {
                &:last-child {
                    margin-top: 60px;
                    color: #062033;
                    line-height: 24px;
                    @media #{$info-phone} {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
