.navbar.fix__top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.navbar {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);;
    &.active {
        background-color: #1ea78d;
        transition: ease 1.3s;
    }
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            font-family: 'Pacifico', cursive;
            @include font-size(28px);
            margin-right: 50px;
            color: $color-default-lightest;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                @include transform(translate(25px,-50%));
                height: 25%;
                width: 2px;
                background-color: #103754;    
            }
        }
        p {
            color: $color-default-lightest;
            @include font-size(13px);
            opacity: 0.3;
        }
    }
    &__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        ul {
            list-style-type: none;
            margin:0;
            padding: 0;
            li {
                position: relative;
                display: inline;
                padding: 27px 0px;
                margin-left: 30px;
                color: $color-default-lightest;
                @include font-size(13px);
                cursor: pointer;
                &:hover {
                    &::after {
                        content: '';
                        width: calc(100%);
                        height: 2px;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        background-color: #32b0ee;
                    }
                }
            }
        }
    }
    &__sidebar {
        display: none;
        cursor: pointer;
    }
    @media #{$info-phone} {
        .navbar__sidebar {
            display: block !important;
            @include font-size(25px);
            color: $color-default-lightest;
            .open {
                display: none !important;
                &.active {
                    display: block !important;
                }
            }
            .closes {
                display: none !important;
                &.active {
                    display: block !important;
                }
            }
        }
        .none {
            position: fixed;
            width: 100%;
            background: linear-gradient(140deg,#183e31 10%,#a5f0d6 100%);
            height: 100vh;
            top: 70px;
            left: 0px;
            padding: 10px;
            transition: all 1.4s ease 0s;
            @include transform(translateX(1000px));
            li{
                display: flex;
                justify-content: center;
                border-bottom: 1px solid #fff;
                margin: 0 110px;
                padding: 30px 0 15px;
                &:hover{
                 color: #0bd68c;
                 &::after{
                     content: none;
                 }
                }
            }
            &.active {
                transition: all 1.4s ease 0s;
                @include transform(translateX(0px));
            }
        }
    }
}

