.container {
  max-width: 1200px;
  padding: 0 15px;
}
.common__heart {
  h2 {
    font-weight: bold;
    text-transform: uppercase;
    @include font-size(28px);
    color: #0eb493;
    margin-bottom: 25px;
  }
  .heart {
    position: relative;
    display: inline-block;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      background-color: #dce1e5;
      transform: translateY(-50%);
      width: 90px;
      height: 2px;
    }
    &::before {
      left: -107px;
    }
    &::after {
      right: -107px;
    }
    img {
      width: 18px;
    }
  }
  p {
    color: #062033;
    font-weight: bold;
    opacity: 0.8;
    line-height: 24px;
    margin: 35px 100px 0;
    @include font-size(18px);
    @media #{$info-phone} {
      @include font-size(16px);
      margin: 20px 0;
    }
  }
}
