.banner {
    position: relative;
    width: 100%;
    height: 800px;
    text-align: center;
    @media #{$info-phone} {
        height: 600px;
    }
    &__content {
        position: absolute;
        top: 460px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: $color-default-lightest;
        @media #{$info-phone} {
            top: 375px;
        }
        h2 {
            font-weight: bold;
            @include font-size(62px);
            margin-bottom: 22px;
            span {
                font-weight: 100;
            }
            @media #{$info-phone} {
                @include font-size(35px);
                margin-bottom: 10px;
            }
            @media screen and (max-width: 320px){
                @include font-size(30px);
                margin-bottom: 10px;
            }
        }
        h3 {
            @include font-size(48px);
            color: $color-default;
            margin-bottom: 22px;
            opacity: 0.9;
            span {
                color: #0fde95;
            }
            @media #{$info-phone} {
                @include font-size(22px);
                margin-bottom: 15px;
            }
        }
        p {
            position: relative;
            @include font-size(18px);
            opacity: 0.9;
            @media #{$info-phone} {
                @include font-size(13px);
            }
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                background-color: #0fda93;
                @include transform(translateY(-50%));
                height: 1px;
                width: 5%;
            }
            &::before {
                left: 21%;
                @media #{$info-tablet-horizontal} {
                    left: 15%;
                }
                @media #{$info-phone} {
                    left: 5%;
                }
                @media screen and (max-width: 320px){
                    left: 0;
                }
            }
            &::after {
                right: 21%;
                @media #{$info-tablet-horizontal} {
                    right: 15%;
                }
                @media #{$info-phone} {
                    right: 5%;
                }
                @media screen and (max-width: 320px){
                    right: 0;
                }
            }
        }
    }
    &__icon {
        position: absolute;
        bottom: 50px;
        left: 50%;
        @include transform(translate(-50%, -50%));
        z-index: 1;
        i {
            color: #fff;
            margin-left: 15px;
            opacity: 0.5;
            &:hover {
                transition: ease 0.4s;
                opacity: 1;
            }
        }
    }
    .slick {
        &__item {
            img {
                width: 100%;
                height: 800px;
                object-fit: cover;
                background-size: cover;
                background-repeat: no-repeat;
                @media #{$info-phone} {
                    height: 600px;
                }
            }
        }
        &-arrow {
            display: none !important;
        }
        &-dots {
            position: absolute;
            top: 50%;
            right: 40px;
            transform: translateY(-50%);
            list-style: none;
            @media #{$info-phone} {
                right: 10px;
            }
            li {
                cursor: pointer;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: transparent;
                border: 1px solid $color-default;
                margin-bottom: 15px;
                &.slick-active {
                    background-color: #fff;
                }
            }
            button {
                display: none !important;
            }
        }
    }
}


 