.fun {
    position: relative;
    width: 100%;
    height: 600px;
    padding: 100px 0;
    background: url(../img/fun.png) no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    @media #{$info-tablet-horizontal} {
        height: 100%;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        .item {
            margin-top: 25px;
            width: calc(100% / 4);
            @media #{$info-tablet-horizontal} {
                margin-top: 30px;
                width: calc(100% / 2);
            }
            img {
                margin-bottom: 50px;
                width: 130px;
                object-fit: cover;
                @media #{$info-phone} {
                    width: 90px;
                }
            }
            h3 {
                color: $color-default-lightest;
                @include font-size(60px);
                font-weight: bold;
            }
            p {
                color: $color-default;
                @include font-size(18px);
                text-transform: uppercase;
            }
        }
    }
}
