.meet{
    position: relative;
    width: 100%;
    height: 930px;
    padding: 100px 0 0;
    @media screen and (max-width: 767px){
        height: 800px;
    }
    &__slick{
        position: inherit !important;
        margin-top: 100px;
        overflow: hidden;
        @media screen and (max-width: 767px){
            margin-top: 50px;
        }
        .slick-arrow{
            display: none !important;
        }
        .slick-dots{
            list-style: none;
            display: inline-flex;
            position: absolute;
            left: 50%;
            @include transform(translate(-50%, -50%));
            bottom: 120px;
            @media screen and (max-width: 767px){
                bottom: 60px;
            }
            li{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid $color-default-darker;
                color: transparent;
                margin-right: 15px;
                &:last-child{
                    margin-right: 0;
                }
                &.slick-active {
                    background-color: $color-default-darkest;
                }
            }
            button {
                display: none !important;
            }
        }
        .slick-slide {
            margin: 0 15px;
        }
        .slick-list {
            margin: 0 -15px;
        }
        .slick__item{
            width: 270px;
            .item__content{
                color: #062033;
                cursor: pointer;
                .item__hover{
                    position: relative;
                    height: 300px;
                    img{
                        display: block;
                        margin: auto;
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    .overlay{
                        position: absolute;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        transition: .5s ease;
                        background-color: #0eb493;
                        color: #fff;
                        padding: 20px 30px 0;
                        text-align: center;
                        h3
                        {   
                            @include font-size(16px);  
                            font-weight: bold;
                        }
                        p{
                            @include font-size(15px);
                        }
                        &__icon{
                            position: absolute;
                            bottom: 0px;
                            @include transform(translate(-50%, -50%));
                            display: inline-flex;
                            column-gap: 4px;
                            img{
                                width: 42px;
                                height: 42px;
                                object-fit: cover;
                            }
                        }
                    }
                }
                h2{
                    margin-top: 20px;
                    @include font-size(18px);
                    font-weight: bold;
                }
                p{
                    margin-top: 12px;
                    @include font-size(13px);
                }
                &:hover{
                    .item__hover{
                        .overlay{
                            opacity: 0.9;
                        }
                    }
                    h2{
                        color: #0eb493;
                    }      
                }
            }
        }
    }
}