.works{
    position: relative;
    width: 100%;
    // height: 950px;
    padding-top: 100px;
    .tab{
        overflow: hidden;
        margin-top: 55px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (max-width: 767px){
            margin-top: 30px;
        }
        .tablinks{
            border: none;
            outline: none;
            cursor: pointer;
            background: none;
            color: #062033;
            border: 1px solid #fff;
            font-family: 'Myriad Pro', sans-serif;
            font-weight: bold;
            padding: 1px 20px;
            @include font-size(14px);
            &:last-child{
                margin-right: 0;
            }
            @media screen and (max-width: 767px){
                width: calc(100% / 3 - 50px);
                margin: 10px 25px;
            }
            @media screen and (max-width: 425px){
                width: calc(100% / 3 - 20px);
                margin: 10px 10px;
            }
            @media screen and (max-width: 375px){
                width: calc(100% / 3);
                margin: 5px 0px;
            }
            @media screen and (max-width: 320px){
                padding: 0 15px;
            }
        }
        .active{
            border-radius: 5px;
            border: 1px solid #0eb493;
            background-color: #0eb493;
            color: $color-default-lightest;
        }
    }
    .tabcontent{
        margin-top: 37px;
        .tabs{
            display: flex;
            flex-wrap: wrap;
            &__item{
                position: relative;
                width: calc(100% / 4);
                @media screen and (max-width: 1024px){
                    width: calc(100% / 3);
                }
                @media screen and (max-width: 767px){
                    width: calc(100% / 2);
                }
                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    @media screen and (max-width: 767px){
                        height: 200px;
                    }
                }
                .overlay{
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: .5s ease;
                    &__content{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: $color-default-lightest;
                        h2{
                            font-family: 'Myriad Pro', sans-serif;
                            @include font-size(18px);
                            margin-top: 30px;
                        }
                        p{
                            font-family: 'Myriad Pro', sans-serif;
                            @include font-size(13px);
                            margin-top: 14px;
                        }
                        img{
                            display: block;
                            margin: auto;
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                        }
                    }
                    &:hover{
                        opacity: 0.9;
                        background-color: #0eb493;
                    }
                }
            }
        }
    }
}